.about-author__photo {
    width: 464px;
    border-radius: 1000px;
    margin-right: 56px;
}

@media screen and (max-width: 1024px) {
    .about-author__photo {
        margin-right: 32px;
        width: 232px;
    }
}

@media screen and (max-width: 550px) {
    .about-author__photo {
        margin-bottom: 24px;
        margin-right: 0px;
        width: 272px;
    }
}