.search-result__button {
    background: #FFFFFF;
    border-radius: 80px;
    padding: 20px 80px;
    margin: 64px 0 80px;
}

.search-result__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 530px) {
    .search-result__button {
        margin: 13px 0 44px;
    }
}