@import url(./_selected/header__link_selected_black.css);
@import url(./_selected/header__link_selected_white.css);

.header__link {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-right: 34px;
    color: #B6BCBF;
}

.header__link:last-child {
    margin-right: 0px;
}

@media screen and (max-width: 767px) {
    .header__link {
        font-size: 16px;
        line-height: 24px;
        margin-right: 11px;
    }
}
