.footer__link {
    text-decoration: none;
    color: #1A1B22;
    font-size: 18px;
    line-height: 24px;
    margin-right: 40px;
}

.footer__link:last-child {
    margin-right: 0;
}

@media screen and (max-width: 1024px) {
    .footer__link {
        margin-right: 25px;
    }

    .footer__link:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 500px) {
    .footer__link {
        margin-bottom: 25px;
        margin-right: 0;
    }

    .footer__link:last-child {
        margin-bottom: 0;
    }
}