.card__author {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    margin: 18px 0 24px;
    font-family: 'Roboto Slab';
}

@media screen and (max-width: 1024px) {
    .card__author {
        margin: 15px 0 16px;
    }
}

@media screen and (max-width: 767px) {
    .card__author {
        margin: 10px 0 20px;
    }
}