@import url(./_bordered/table__row_bordered.css);

.table__row {
    display: grid;
    grid-template-columns: 104px 1fr;
    align-content: center;
    text-align: left;
    margin-bottom: 56px;
}

.table__row:nth-last-child(2) {
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .table__row {
        grid-template-columns: 80px 1fr;
        margin-bottom: 24px;
    }

    .table__row:nth-last-child(2) {
        margin-bottom: 0;
    }
}