.about-author__text {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-top: 24px;
}

@media screen and (max-width: 1024px) {
    .about-author__text {
        margin-top: 16px;
        max-width: 424px;
    }
}
